DATABASE_URL=postgres://bountybot:bountybot@localhost:5432/bountybot
TOKEN=
CLIENT_ID=
BOUNTY_WORKFLOW_IMAGE_URL=https://fluxerusercontent.com/attachments/1518360391359410176/1518667392945762304/image.png
POSTGRES_USER=bountybot
POSTGRES_PASSWORD=bountybot
POSTGRES_DB=bountybot